@model PhotoFormModel

<div class="container px-0">
    <div class="mb-5 header-anchor">
        <h2 class="ms-header fs-1">Create A Photo</h2>
    </div>
    <form asp-controller="Photo" asp-action="Create" enctype="multipart/form-data" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Title:</strong>
            <input type="text" class="form-control" asp-for="Photo.Title">
            <span asp-validation-for="Photo.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Description:</strong>
            <input type="text" class="form-control" asp-for="Photo.Description">
            <span asp-validation-for="Photo.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Visibility:</strong>
            <input type="text" class="form-control" asp-for="Photo.IsVisible">
            <span asp-validation-for="Photo.IsVisible" class="text-danger"></span>
        </div>

        <!-- CHECKBOXES FOR MULTIPLE CATEGORIES -->
        <div class="mb-3">
            <strong>Select Tags:</strong>
            @foreach (var cat in Model.SelectCategories)
            {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="SelectedCategoriesIds" value="@cat.Value" id="@cat.Value">
                    <label class="form-check-label" for="@cat.Value">@cat.Text</label>
                </div>
            }
        </div>

        <div class="mb-3">
            <label asp-for="ImgFormFile">
                <strong class="mr-2">
                    Image file
                </strong>
            </label>
            <input type="file" asp-for="ImgFormFile" />
            <span asp-validation-for="ImgFormFile" class="text-error"></span>
        </div>

        <div class="mb-4">
            <strong>Image Url:</strong>
            <input type="text" class="form-control" asp-for="Photo.ImageUrl">
            <span asp-validation-for="Photo.ImageUrl" class="text-danger"></span>
        </div>


        <button type="submit" class="btn my-btn">Crea nuovo Articolo</button>
    </form>
</div>
