@model Photo

<div class="container py-3 px-0">
    <div class="mb-4 header-anchor">
        <h2 class="ms-header fs-1">@Model.Title</h2>
    </div>
    <div class="post-single-image-container mb-4">
        <img width="500" src="@Model.ImageSrc" class="detail-img">
    </div>
    <p class="fs-5">
        <strong>Description:</strong>
        @Model.Description
    </p>
    <p class="fs-5">
        <strong>Categories:</strong>
        @if (@Model.Categories?.Count > 0)
        {
            @for (var i = 0; i < Model.Categories.Count; i++)
            {
                var category = Model.Categories[i].Name;
                @category
                if (i < Model.Categories.Count - 1)
                {
                    @(", ")
                }
                else
                {
                    @(". ")
                }
            }
        }
        else
        {
            <span>No Categories associated.</span>
        }
    </p>
</div>
